<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RocketModFix.Rocket.API" version="4.15.0" targetFramework="net48" />
  <package id="RocketModFix.Rocket.Core" version="4.15.0" targetFramework="net48" />
  <package id="RocketModFix.Rocket.Unturned" version="4.9.3.43" targetFramework="net48" />
  <package id="RocketModFix.UnityEngine.Redist" version="2021.3.29.1" targetFramework="net48" />
  <package id="RocketModFix.Unturned.Redist" version="3.23.12.3" targetFramework="net48" />
</packages>